@import '../utilities/vars';
@import '../base/typography'; 

* {
    box-sizing: border-box; 
}
body {
    font-family: $font-stack;
    color: $colorText;
    background-color: $colorPrimary;
    overflow-x: hidden; 
}
.mainContent { 
    display: flex; 
    flex-direction: column; 
    width: 100vw; 
    flex-grow: 1; 
    min-height: 100vh;

    h2 {
        @extend %heading2; 
        margin: 0 auto; 
    }
    
    p {
        @extend %paragraph; 
        margin: 0 auto; 
    }

    .hr {
        width: 70vw;
        height: 2px; 
        background-color: $colorText;
        margin-bottom: 1rem;   
    }
}

.carouselSelection {
    display: flex; 
    justify-content: center; 
    margin: 0 auto;  
}

.contentContainer {
    width: 90%; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    align-items: center; 

    .description {
        width: 75%;
        margin-bottom: 1rem;  
    }

}

.slideSelect {
    width: 100%;
    display: flex;
    justify-content: center;
}
ul.slideBtns {
    display: flex;   
}

.btnActive {
    background-color: $colorExtraPrimary;
    color: $colorText;
}
.carouselBtnContainer {

    .carouselBtn {
        width: 6rem;
        height: 2rem; 
        color: $colorTextHover;
        font-size: 1rem; 
        background-color: $colorSecondary;
        border: none; 
        outline: none; 
        cursor: pointer; 
        margin: 0 .5rem; 
    }
    .btnActive {
        background-color: $colorExtraPrimary;
        color: $colorText;
    }
}

.bottomBtns a {
    text-decoration: none; 
}