@import '../utilities/vars'; 
@import '../base/icons'; 

header {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0;  
    padding: 0 2rem;  
    width: 100vw; 
    height: 4rem; 
    background-color: $colorSecondary;
    margin-bottom: 1rem; 

    @media (min-width: 768px) { 
        height: 5rem; 
    }

    .headerContainer {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        width: 90%; 
    }

    img {
        z-index: 41; 
        height: 3rem; 
        width: auto;
    }

    ul {
        display: flex; 
        color: #fff; 
    }

    .stadirnir {
        display: none; 
        align-items: center;
        
        @media (min-width: 768px) { 
            display: flex;  
        }

        img {
            margin-right: 1rem; 
        }
    }

    .desktopNav {
        display: none; 

        @media (min-width: 768px) { 
            display: flex;  
        }

        li {
            padding: 0 .5rem; 
        }
    }

}

/***** Burger Menu ***************************************************/
.burgerlines{
    width: 2rem;
    height: .2rem;
    margin: 2px 0;
    border-radius: 7px;
    z-index: 40;
    transition: all 6s ease;
    background-color: #fff;

}

ul.list-container {
    @media (min-width: 768px) { 
        display: none;  
    }
}
.burger-container{
    height: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 39;
    position: relative;
    min-width: 24px;

    span {
        position: absolute;
        left: 0;
        transition: .4s;

        &:nth-child(1) {
            position: absolute;
            top: 0;
        }
        &:nth-child(2) {
            position: absolute;
            top: 7px;
        }
        &:nth-child(3) {
            position: absolute;
            top: 14px;
        }
    }

    &.open span{
        &:nth-child(1){
            top: 7px !important; 
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            position: absolute;
        }
        &:nth-child(2){
            opacity: 0;
            left: -60px !important;
            position: absolute;
            transition: .1s;
        }
        &:nth-child(3){
            top: 7px !important; 
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
            position: absolute;
        }
    }
}

.burger-menus{
    position: absolute;
    width: 0;
    height: 100%;
    top: 4rem;
    visibility: hidden;
    left: 0px;
    z-index: 38;
    display: flex;
    flex-direction: row;
    transition: all .4s ease-in-out;
}

.white-menu{
    background-color: $colorPrimary;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem; 

    img {
        width: 200px;
        margin-left: 8px;
        margin-top: 100px;
    }
    ul {
        display: flex;
        flex-direction: column;
        
    }
    li {
        display: flex;
        padding-bottom: 2rem; 
    }
    .hr {
        height: 1px; 
        background-color: #fff; 
        margin-bottom: 2rem; 
    }
    
}
.menu-item-white{
    border-radius: 3px;
    color: #c8c8c8;
    background-color: white;
    border: none;
    &:hover{
        background-color: rgb(231, 231, 231);
        color: rgb(151, 151, 151);
        transition: 0.3s ease-in-out;
    }
}

.show-menu{
    width: 100%;
    visibility: visible;
    display: flex;
}

.menu .white-menu ul {
    opacity: 0;
    transition: all .4s ease-out;
}

.show-menu .white-menu ul {
    opacity: 1;
    transition: all .4s ease-out
    
}