.carouselContainer {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100vw; 
    height: 15rem;  
} 

.customCarousel {
    display: flex;  
    justify-content: center; 
    align-items: center;
    
}


.carouselImg {
    width: 10rem;
    
    @media (min-width: 768px) { 
        width: 15rem; 
    } 
}
