@import '../utilities/vars';

$font-stack: 'Roboto', sans-serif;


%heading1 {
    font-size: 2rem; 
    line-height: 2.25rem; 
    color: $colorText;
    font-weight: 500;
    
    @media (min-width: 768px) { 
        font-size: 3rem;
        line-height: 3.25rem; 
    }  
}

%heading2 {
    font-size: 1.5rem; 
    line-height: 2; 
    color: $colorText;
    font-weight: 400;
    
    @media (min-width: 768px) { 
        font-size: 2rem;
        line-height: 2.25rem; 
    }  
}

%paragraph {
    font-size: 1rem; 
    line-height: 1.25rem; 
    color: $colorText;
    font-weight: 400;
    
    @media (min-width: 768px) { 
        font-size: 1.25rem;
        line-height: 1.5rem; 
    }
}



.list-item {
    text-decoration: none;
    color: #fff;
    font-size: 1rem; 
    font-weight: 300;
    
    @media (min-width: 768px) { 
        font-size: 1.1rem; 
    }
}
